## meta > reg > topic 
- 지역별로 나눈뒤 topic별로 100개씩 데이터 추출 작업 
- 100개 데이터는 작은 거 같아서 1,000개로 진행하려고 했으나 지역별로 확인해본 결과 데이터의 개수가 1,000 미만인 데이터들이 존재해서 100개로 변경

In [1]:
import os 
import pandas as pd 
import random

In [2]:
directory = os.getenv('HOME') + '/aiffel/aiffelthon/'

In [3]:
df = pd.read_csv(directory + 'meta_eng_raw_0306_v1.csv')
df_copy = df.copy()

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949888 entries, 0 to 949887
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   text              949888 non-null  object
 1   dial              949888 non-null  object
 2   eng               949888 non-null  object
 3   title             949888 non-null  object
 4   creator           949888 non-null  object
 5   distributor       949706 non-null  object
 6   year              949888 non-null  object
 7   category          949706 non-null  object
 8   annotation_level  949888 non-null  object
 9   sampling          949417 non-null  object
 10  author            925576 non-null  object
 11  publisher         925576 non-null  object
 12  date              949888 non-null  object
 13  topic             949888 non-null  object
 14  age               949888 non-null  object
 15  sex               949888 non-null  object
 16  prin_res          949888 non-null  object
 17  curr_res          949888 non-null  object
 18  age2              659954 non-null  object
 19  sex2              659954 non-null  object
 20  prin_res2         659954 non-null  object
 21  curr_res2         659954 non-null  object
 22  stdn              949888 non-null  object
 23  eojeol_stdn       949888 non-null  object
 24  reg               949888 non-null  object
dtypes: object(25)
memory usage: 181.2+ MB

In [5]:
df.reg.value_counts()

kw    345244
jj    203349
jd    174833
gs    114787
cc    111675
Name: reg, dtype: int64

In [6]:
df = df[['text','reg','topic']]
df.head()

                                    text reg topic
0                          생각이 쪼금씩 바뀌더라고  jd    역사
1                어 알겠는가 외국인들이 그래도 잘 적응하고  jd    가족
2               아으 갑자기 예전에 맹장 뜯은 게 생각난다.  jd    건강
3  보면은 조금 품위 있게 나이 들어가야 되겠단 생각을 참 많이 해요.  jd   스타일
4           약간 조금 약간 맛이 쪼끔 거시기 하긴 한데 그래도  jd   먹거리

In [7]:
# df_jj = pd.DataFrame(columns = ['text','reg','topic'])
# df_kw = pd.DataFrame(columns = ['text','reg','topic'])
# df_jd = pd.DataFrame(columns = ['text','reg','topic'])
# df_gs = pd.DataFrame(columns = ['text','reg','topic'])
# df_cc = pd.DataFrame(columns = ['text','reg','topic'])

In [8]:
# jj
df_jj = pd.DataFrame(columns = ['text','reg','topic'])

for idx, row in df.iterrows():
    row = df.loc[df['reg'] == 'jj' ]
    break
#     for i in row : 
#         i = row.loc[row['topic'] == '4차산업혁명']    
#         break
    
df_jj = pd.concat([df_jj,row])
df_jj.drop_duplicates(inplace=True)
df_jj.sort_values('topic', ascending=True)

                                      text reg   topic
261364  요즘은 그 외동이 많아서 그 사촌동생하고 그렇게 경쟁을 해요.  jj  4차산업혁명
208340      그러니까 뭐 그때 당시에 얼마 안 지나서 돌아가셨지만요  jj  4차산업혁명
217068     자기 전에 듣다 갑자기 이제 씨에프 뭐냐 광고 떠버려서.  jj  4차산업혁명
673953                           다 틀린 모양이야  jj  4차산업혁명
817494                               차 있어.  jj  4차산업혁명
...                                    ...  ..     ...
146478                     모 몸이 내가 더 앞이잖아.  jj   회사/학교
820750                     항상 기숙사에서 발열 걸려서  jj   회사/학교
157385                      기숙사 들어갈 생각 없어?  jj   회사/학교
146461            처음 봤다고 그렇게 하다가 결국 갔다 왔어.  jj   회사/학교
767981           어디 입에 담아 보지도 못해 그 많지 않아서.  jj   회사/학교

[203287 rows x 3 columns]

In [18]:
df_jj.topic.value_counts()

가족            38726
먹거리           25212
회사/학교         20385
여행지(국내/해외)    15046
건강            12741
취미             9811
연애/결혼          9629
역사             8137
방송/연예          5673
꿈(목표)          5334
아르바이트          4614
종교             3963
반려동물           3495
성격             3334
쇼핑             3278
영화             2806
다이어트           2563
게임             2449
경제             2404
군대             2323
계절             1967
전자기기           1875
스타일            1831
재테크            1818
스포츠/레저         1661
선물             1492
자동차/오토바이       1488
문학             1407
SNS            1287
드라마            1132
정치              973
날씨              892
자격증             852
음악              525
만화              464
콤플렉스            428
공연              402
좌우명             349
4차산업혁명          295
법률              226
Name: topic, dtype: int64

In [46]:
df_jj_가족 = df_jj[df_jj['topic']=='가족']
df_jj_먹거리 = df_jj[df_jj['topic']=='먹거리']
df_jj_회사 = df_jj[df_jj['topic']=='회사/학교']
df_jj_여행지 = df_jj[df_jj['topic']=='여행지(국내/해외)']
df_jj_건강 = df_jj[df_jj['topic']=='건강']
df_jj_취미 = df_jj[df_jj['topic']=='취미']
df_jj_연애 = df_jj[df_jj['topic']=='연애/결혼']
df_jj_역사 = df_jj[df_jj['topic']=='역사']
df_jj_방송 = df_jj[df_jj['topic']=='방송/연예']
df_jj_꿈 = df_jj[df_jj['topic']=='꿈(목표)']

df_jj_아르바이트 = df_jj[df_jj['topic']=='아르바이트']
df_jj_종교 = df_jj[df_jj['topic']=='종교']
df_jj_반려동물 = df_jj[df_jj['topic']=='반려동물']
df_jj_성격 = df_jj[df_jj['topic']=='성격']
df_jj_쇼핑 = df_jj[df_jj['topic']=='쇼핑']
df_jj_영화 = df_jj[df_jj['topic']=='영화']
df_jj_다이어트 = df_jj[df_jj['topic']=='다이어트']
df_jj_게임 = df_jj[df_jj['topic']=='게임']
df_jj_경제 = df_jj[df_jj['topic']=='경제']
df_jj_군대 = df_jj[df_jj['topic']=='군대']

df_jj_계절 = df_jj[df_jj['topic']=='계절']
df_jj_전자기기 = df_jj[df_jj['topic']=='전자기기']
df_jj_스타일 = df_jj[df_jj['topic']=='스타일']
df_jj_재테크 = df_jj[df_jj['topic']=='재테크']
df_jj_스포츠 = df_jj[df_jj['topic']=='스포츠/레저']
df_jj_선물 = df_jj[df_jj['topic']=='선물']
df_jj_자동차 = df_jj[df_jj['topic']=='자동차/오토바이']
df_jj_문학 = df_jj[df_jj['topic']=='문학']
df_jj_sns = df_jj[df_jj['topic']=='sns']
df_jj_드라마 = df_jj[df_jj['topic']=='드라마']

df_jj_정치 = df_jj[df_jj['topic']=='정치']
df_jj_날씨 = df_jj[df_jj['topic']=='날씨']
df_jj_자격증 = df_jj[df_jj['topic']=='자격증']
df_jj_음악 = df_jj[df_jj['topic']=='음악']
df_jj_만화 = df_jj[df_jj['topic']=='만화']
df_jj_콤플렉스 = df_jj[df_jj['topic']=='콤플렉스']
df_jj_공연 = df_jj[df_jj['topic']=='공연']
df_jj_좌우명 = df_jj[df_jj['topic']=='좌우명']
df_jj_4차산업혁명 = df_jj[df_jj['topic']=='4차산업혁명']
df_jj_법률 = df_jj[df_jj['topic']=='법률']

df_jj_영화

                                                     text reg topic
35532                                               아이 근데  jj    영화
133111                              누가 보 보내준게 없네 그니깐 안했지.  jj    영화
133179  서로만 견제하고 두려워하고 하니까 분노가 쌓이니까 불안하니까 이제 이게 분노가 쌓이...  jj    영화
133681                              이런식으로 딱 표현하는 게 되게 좋았다  jj    영화
135407                                            무슨 말이야?  jj    영화
...                                                   ...  ..   ...
949370                         나 그 영화 알게 된 지 진짜 오래됐거든? #이  jj    영화
949500                                             가입 했어?  jj    영화
949516                                                봤어?  jj    영화
949533                                         나쁘지 않아 그것도  jj    영화
949709                              꽃청 해서 그 뭐지 걔네 어디 갔었지?  jj    영화

[2806 rows x 3 columns]

In [9]:
# kw
df_kw = pd.DataFrame(columns = ['text','reg','topic'])

for idx, row in df.iterrows():
    row = df.loc[df['reg'] == 'kw' ]
    break
    
df_kw = pd.concat([df_kw,row])
df_kw.drop_duplicates(inplace=True)
df_kw.sort_values('topic', ascending=True)

                                       text reg   topic
294927  그가 했던 말은 아무리 생각해도 재미없는 시시콜콜한 이야기였다.  kw  4차산업혁명
301956                밤길에는 머리등을 키고 자전거를 몰아.  kw  4차산업혁명
533198             회식하는 자리에 그 사람이 빠지면 재미없다.  kw  4차산업혁명
534564  그녀는 평균대 위에서 왼쪽으로 갸우뚱 했으나 곧 중심을 잡았다.  kw  4차산업혁명
295802             꽃들이 저마다 알록달록 빛깔을 뽐내고 있다.  kw  4차산업혁명
...                                     ...  ..     ...
342050                       또 언제든지 말해 주세요.  kw   회사/학교
458023                       내 말 무슨 말인지 알죠?  kw   회사/학교
458005                     미안하다 내가 대신 사과할게.  kw   회사/학교
342066                              정말 기뻐요.  kw   회사/학교
456030                     에이 아버지 왜 저기서 저러고  kw   회사/학교

[343731 rows x 3 columns]

In [16]:
df_kw.topic.value_counts()

가족            98284
연애/결혼         56036
드라마           29549
회사/학교         28429
먹거리           12933
성격             8849
건강             8156
좌우명            8036
영화             8016
여행지(국내/해외)     8016
취미             7595
공연             7387
문학             6863
꿈(목표)          6770
경제             6559
방송/연예          6129
음악             5701
반려동물           4806
쇼핑             4679
계절             3847
날씨             3196
스포츠/레저         3108
아르바이트          2207
재테크            1563
군대             1346
스타일             866
다이어트            819
자격증             733
정치              694
게임              433
종교              412
전자기기            282
선물              260
자동차/오토바이        259
법률              254
4차산업혁명          152
SNS             139
역사              138
만화              123
콤플렉스            107
Name: topic, dtype: int64

In [55]:
df_kw_가족 = df_kw[df_kw['topic']=='가족']
df_kw_먹거리 = df_kw[df_kw['topic']=='먹거리']
df_kw_회사 = df_kw[df_kw['topic']=='회사/학교']
df_kw_여행지 = df_kw[df_kw['topic']=='여행지(국내/해외)']
df_kw_건강 = df_kw[df_kw['topic']=='건강']
df_kw_취미 = df_kw[df_kw['topic']=='취미']
df_kw_연애 = df_kw[df_kw['topic']=='연애/결혼']
df_kw_역사 = df_kw[df_kw['topic']=='역사']
df_kw_방송 = df_kw[df_kw['topic']=='방송/연예']
df_kw_꿈 = df_kw[df_kw['topic']=='꿈(목표)']

df_kw_아르바이트 = df_kw[df_kw['topic']=='아르바이트']
df_kw_종교 = df_kw[df_kw['topic']=='종교']
df_kw_반려동물 = df_kw[df_kw['topic']=='반려동물']
df_kw_성격 = df_kw[df_kw['topic']=='성격']
df_kw_쇼핑 = df_kw[df_kw['topic']=='쇼핑']
df_kw_영화 = df_kw[df_kw['topic']=='영화']
df_kw_다이어트 = df_kw[df_kw['topic']=='다이어트']
df_kw_게임 = df_kw[df_kw['topic']=='게임']
df_kw_경제 = df_kw[df_kw['topic']=='경제']
df_kw_군대 = df_kw[df_kw['topic']=='군대']

df_kw_계절 = df_kw[df_kw['topic']=='계절']
df_kw_전자기기 = df_kw[df_kw['topic']=='전자기기']
df_kw_스타일 = df_kw[df_kw['topic']=='스타일']
df_kw_재테크 = df_kw[df_kw['topic']=='재테크']
df_kw_스포츠 = df_kw[df_kw['topic']=='스포츠/레저']
df_kw_선물 = df_kw[df_kw['topic']=='선물']
df_kw_자동차 = df_kw[df_kw['topic']=='자동차/오토바이']
df_kw_문학 = df_kw[df_kw['topic']=='문학']
df_kw_sns = df_kw[df_kw['topic']=='sns']
df_kw_드라마 = df_kw[df_kw['topic']=='드라마']

df_kw_정치 = df_kw[df_kw['topic']=='정치']
df_kw_날씨 = df_kw[df_kw['topic']=='날씨']
df_kw_자격증 = df_kw[df_kw['topic']=='자격증']
df_kw_음악 = df_kw[df_kw['topic']=='음악']
df_kw_만화 = df_kw[df_kw['topic']=='만화']
df_kw_콤플렉스 = df_kw[df_kw['topic']=='콤플렉스']
df_kw_공연 = df_kw[df_kw['topic']=='공연']
df_kw_좌우명 = df_kw[df_kw['topic']=='좌우명']
df_kw_4차산업혁명 = df_kw[df_kw['topic']=='4차산업혁명']
df_kw_법률 = df_kw[df_kw['topic']=='법률']

df_kw_법률

                                            text reg topic
133594         장인어른이 앉으신 저 의자를 보면 다시 시작할지 모릅니다 저  kw    법률
182640      이놈하고 관련된 정보 뱉기 전에는 한 놈도 내보내지 말고 족쳐라.  kw    법률
347690                                       어때.  kw    법률
347879               저한테 지출한 대선 자금의 흔적도 없애실 거구요.  kw    법률
347929                          너네 아버지도 내가 챙겨줄게.  kw    법률
...                                          ...  ..   ...
923411                  뭐 조 형사님이나 박 형사님 거 고르다 보면  kw    법률
927351                           형사님들이 좋아하시겠는 걸?  kw    법률
930727                     제가 뭘 어떻게 하면 구해주시겠습니까?  kw    법률
940068  살인 교사 죄가 얼마나 무서운 죈지 아마 친절하게 잘 설명해드릴 겁니다.  kw    법률
943858                          뭐 어쨌든 잘 입을게 고마워.  kw    법률

[254 rows x 3 columns]

In [10]:
# jd
df_jd = pd.DataFrame(columns = ['text','reg','topic'])

for idx, row in df.iterrows():
    row = df.loc[df['reg'] == 'jd' ]
    break
    
df_jd = pd.concat([df_jd,row])
df_jd.drop_duplicates(inplace=True)
df_jd.sort_values('topic', ascending=True)

                                                     text reg   topic
287028              자동차가 이~ 사람이 없이 막 자기 혼자서 운전을 하고 자기 혼자서  jd  4차산업혁명
13760                                 응~ 드론도 따 놓으면 괜찮겠더라고  jd  4차산업혁명
9549    요새는 안 그러는데 예전에 조금 지금은 조금 그~ 법이 많이 조금 세져가지고 못하고...  jd  4차산업혁명
66481                            또 뭐~ 자율주행 차인데 사고 났다고나 하고  jd  4차산업혁명
66471                                 그래 드론으로는 배달도 많이 다니고  jd  4차산업혁명
...                                                   ...  ..     ...
743552  그냥 아~ 네 선생님 저희 왔어요 이제 저희 가볼게요 하고 아~ 다른 선생님 안 계...  jd   회사/학교
14289                                         재밌어 아주 그러니까  jd   회사/학교
231460           하다못해 뭐 이제 뭐 예를 들어서 뭐 음식 요리 배우는 사람도 있잔아요.  jd   회사/학교
52275   근데 그런 친구들이 지금 동네가 다 고향이잖아 그러니까 명절 때마다 걔네들을 만나는...  jd   회사/학교
714821                           그러니까 그거를 근데 이 결론은 그리고 나는  jd   회사/학교

[174817 rows x 3 columns]

In [14]:
df_jd.topic.value_counts()

먹거리           11626
여행지(국내/해외)    10112
건강             9870
연애/결혼          8594
가족             8481
회사/학교          8138
아르바이트          7439
다이어트           6471
계절             6000
성격             5983
반려동물           5636
영화             5488
드라마            5298
쇼핑             4933
방송/연예          4902
취미             4730
음악             4581
선물             4276
꿈(목표)          4269
재테크            3755
스타일            3727
스포츠/레저         3634
자동차/오토바이       3523
전자기기           3256
자격증            3076
군대             3067
게임             2982
날씨             2649
종교             2532
만화             2386
콤플렉스           2188
공연             1987
SNS            1913
문학             1315
경제             1281
역사             1217
4차산업혁명         1097
좌우명             971
법률              727
정치              707
Name: topic, dtype: int64

In [57]:
df_jd_가족 = df_jd[df_jd['topic']=='가족']
df_jd_먹거리 = df_jd[df_jd['topic']=='먹거리']
df_jd_회사 = df_jd[df_jd['topic']=='회사/학교']
df_jd_여행지 = df_jd[df_jd['topic']=='여행지(국내/해외)']
df_jd_건강 = df_jd[df_jd['topic']=='건강']
df_jd_취미 = df_jd[df_jd['topic']=='취미']
df_jd_연애 = df_jd[df_jd['topic']=='연애/결혼']
df_jd_역사 = df_jd[df_jd['topic']=='역사']
df_jd_방송 = df_jd[df_jd['topic']=='방송/연예']
df_jd_꿈 = df_jd[df_jd['topic']=='꿈(목표)']

df_jd_아르바이트 = df_jd[df_jd['topic']=='아르바이트']
df_jd_종교 = df_jd[df_jd['topic']=='종교']
df_jd_반려동물 = df_jd[df_jd['topic']=='반려동물']
df_jd_성격 = df_jd[df_jd['topic']=='성격']
df_jd_쇼핑 = df_jd[df_jd['topic']=='쇼핑']
df_jd_영화 = df_jd[df_jd['topic']=='영화']
df_jd_다이어트 = df_jd[df_jd['topic']=='다이어트']
df_jd_게임 = df_jd[df_jd['topic']=='게임']
df_jd_경제 = df_jd[df_jd['topic']=='경제']
df_jd_군대 = df_jd[df_jd['topic']=='군대']

df_jd_계절 = df_jd[df_jd['topic']=='계절']
df_jd_전자기기 = df_jd[df_jd['topic']=='전자기기']
df_jd_스타일 = df_jd[df_jd['topic']=='스타일']
df_jd_재테크 = df_jd[df_jd['topic']=='재테크']
df_jd_스포츠 = df_jd[df_jd['topic']=='스포츠/레저']
df_jd_선물 = df_jd[df_jd['topic']=='선물']
df_jd_자동차 = df_jd[df_jd['topic']=='자동차/오토바이']
df_jd_문학 = df_jd[df_jd['topic']=='문학']
df_jd_sns = df_jd[df_jd['topic']=='sns']
df_jd_드라마 = df_jd[df_jd['topic']=='드라마']

df_jd_정치 = df_jd[df_jd['topic']=='정치']
df_jd_날씨 = df_jd[df_jd['topic']=='날씨']
df_jd_자격증 = df_jd[df_jd['topic']=='자격증']
df_jd_음악 = df_jd[df_jd['topic']=='음악']
df_jd_만화 = df_jd[df_jd['topic']=='만화']
df_jd_콤플렉스 = df_jd[df_jd['topic']=='콤플렉스']
df_jd_공연 = df_jd[df_jd['topic']=='공연']
df_jd_좌우명 = df_jd[df_jd['topic']=='좌우명']
df_jd_4차산업혁명 = df_jd[df_jd['topic']=='4차산업혁명']
df_jd_법률 = df_jd[df_jd['topic']=='법률']

df_jd_법률

                                                     text reg topic
25346                                       그런 부분에 있어서 조금  jd    법률
36276   어 근데 이제 상황에 따라 다르긴 하겠지 근데 이번 피해자는 어떻게 보면은 중간에 ...  jd    법률
36566                          그러니까 법을 좀 강화시켜야 되는데 그리고 사실  jd    법률
36657   운전을 하면서 그냥 무심결에 그냥 지나가잖아 사람이 서 있어도 그러니까 뭐 가끔 멈...  jd    법률
36689   그리고 왜 그 엄마는 선생님이라고 난 이제 들었기때문에 왜 그게 서 있었을까 조금 ...  jd    법률
...                                                   ...  ..   ...
938763                    운전자들이 정말 이렇게 아주 서서히 기어가지는 않거든요.  jd    법률
938875                                게 발의가 되면 뭐~ 이렇게 처벌도  jd    법률
945329               어~ 그러면 한번 가봅시다 그래서 이제 둘 이 용흥사 절에 갔는데  jd    법률
946416   근데 생각을 해보니까 그 사형이 우리나라에 아직 있기는 한데 구형을 할 수 있기는 한데  jd    법률
948599                                  왜냐하면 그냥 막말로 걸어가다가  jd    법률

[727 rows x 3 columns]

In [11]:
# gs
df_gs = pd.DataFrame(columns = ['text','reg','topic'])

for idx, row in df.iterrows():
    row = df.loc[df['reg'] == 'gs' ]
    break
    
df_gs = pd.concat([df_gs,row])
df_gs.drop_duplicates(inplace=True)
df_gs.sort_values('topic', ascending=True)

                                                     text reg   topic
949884                  너는 만약에 그런 시대가 오면 네가 어떻게 활동할 것 같애?  gs  4차산업혁명
636437  그~ 그럼으로 인해서 제가 조금 더 게으른 사람이 되고 스마트폰이 도입되면서 사람들...  gs  4차산업혁명
125895                              조금 여 같은 여자 목소리면은 아무래도  gs  4차산업혁명
849079                   그러니까 그게 그냥 손잡이가 있어 보이는데 평면적인 거야.  gs  4차산업혁명
125902                          그런 얘기들이 많이 나오는데 저는 그거를 조금  gs  4차산업혁명
...                                                   ...  ..     ...
115421                              자주 이렇게 같이 지내는 경우가 많지.  gs   회사/학교
863265  그래서 아~ 조금 아는 사람이 많아졌으면 좋겠다 친구들이 많아졌으면 좋겠다 그렇게 ...  gs   회사/학교
667227                     결국에는 그~ 주인공은 비 정규직이 되지 못 하고 다른  gs   회사/학교
802463                                          수학 여행 갔지.  gs   회사/학교
853055              해양 근데 해양 수련회가 이 근처에 있어 어디 갔었어 해양 수련회?  gs   회사/학교

[114785 rows x 3 columns]

In [58]:
df_gs_가족 = df_gs[df_gs['topic']=='가족']
df_gs_먹거리 = df_gs[df_gs['topic']=='먹거리']
df_gs_회사 = df_gs[df_gs['topic']=='회사/학교']
df_gs_여행지 = df_gs[df_gs['topic']=='여행지(국내/해외)']
df_gs_건강 = df_gs[df_gs['topic']=='건강']
df_gs_취미 = df_gs[df_gs['topic']=='취미']
df_gs_연애 = df_gs[df_gs['topic']=='연애/결혼']
df_gs_역사 = df_gs[df_gs['topic']=='역사']
df_gs_방송 = df_gs[df_gs['topic']=='방송/연예']
df_gs_꿈 = df_gs[df_gs['topic']=='꿈(목표)']

df_gs_아르바이트 = df_gs[df_gs['topic']=='아르바이트']
df_gs_종교 = df_gs[df_gs['topic']=='종교']
df_gs_반려동물 = df_gs[df_gs['topic']=='반려동물']
df_gs_성격 = df_gs[df_gs['topic']=='성격']
df_gs_쇼핑 = df_gs[df_gs['topic']=='쇼핑']
df_gs_영화 = df_gs[df_gs['topic']=='영화']
df_gs_다이어트 = df_gs[df_gs['topic']=='다이어트']
df_gs_게임 = df_gs[df_gs['topic']=='게임']
df_gs_경제 = df_gs[df_gs['topic']=='경제']
df_gs_군대 = df_gs[df_gs['topic']=='군대']

df_gs_계절 = df_gs[df_gs['topic']=='계절']
df_gs_전자기기 = df_gs[df_gs['topic']=='전자기기']
df_gs_스타일 = df_gs[df_gs['topic']=='스타일']
df_gs_재테크 = df_gs[df_gs['topic']=='재테크']
df_gs_스포츠 = df_gs[df_gs['topic']=='스포츠/레저']
df_gs_선물 = df_gs[df_gs['topic']=='선물']
df_gs_자동차 = df_gs[df_gs['topic']=='자동차/오토바이']
df_gs_문학 = df_gs[df_gs['topic']=='문학']
df_gs_sns = df_gs[df_gs['topic']=='sns']
df_gs_드라마 = df_gs[df_gs['topic']=='드라마']

df_gs_정치 = df_gs[df_gs['topic']=='정치']
df_gs_날씨 = df_gs[df_gs['topic']=='날씨']
df_gs_자격증 = df_gs[df_gs['topic']=='자격증']
df_gs_음악 = df_gs[df_gs['topic']=='음악']
df_gs_만화 = df_gs[df_gs['topic']=='만화']
df_gs_콤플렉스 = df_gs[df_gs['topic']=='콤플렉스']
df_gs_공연 = df_gs[df_gs['topic']=='공연']
df_gs_좌우명 = df_gs[df_gs['topic']=='좌우명']
df_gs_4차산업혁명 = df_gs[df_gs['topic']=='4차산업혁명']
df_gs_법률 = df_gs[df_gs['topic']=='법률']

df_gs_법률

                                                     text reg topic
58029                                           저는 굉장히 조금  gs    법률
114207                 지금 삼십이 분을 채우기 위해서 지금 조금 기다리고 있습니다.  gs    법률
114354                      그래 그런 부작용도 있긴 있는데 약간 어찌 됐든 간에  gs    법률
114358                              뭐~ 공공연하게 그냥 다 뒤로 받아먹고  gs    법률
114373                        부탁을 하필이면 이제 그렇게 한 오 분쯤 있으니까  gs    법률
...                                                   ...  ..   ...
947009                       혹시 그 부분에 대해서 혹시 다른 의견 있으신가요?  gs    법률
947150  어~ 그~ 앞으로 그게 우리의 가 조금 나아가야 할 추구해야 할 그런 방향이라고 생...  gs    법률
948843                       그리고 오히려 소설 -이- 이북이 쉬워 보이지만 그  gs    법률
948963          그다음에 조금 이런 거 학창 시절 뭐~ 이렇게 보호할 수 있는 법들이 많이  gs    법률
948973  그게 무슨 말이냐면 빵이 훔쳐 먹었으면은 최소한 뭐~ 어~ 한 이틀 정도 벌금 뭐~...  gs    법률

[1151 rows x 3 columns]

In [12]:
# cc
df_cc = pd.DataFrame(columns = ['text','reg','topic'])
topic = []
for idx, row in df.iterrows():
    row = df.loc[df['reg'] == 'cc' ]
 
    break
    
df_cc = pd.concat([df_cc,row])
df_cc.drop_duplicates(inplace=True)
df_cc.sort_values('topic', ascending=True)

                                                     text reg   topic
108867           더 많은 발전의 기여를 했으면 좋겠다 너도 도움이 댔을랑가는 모르겠지만은  cc  4차산업혁명
829729                         조금 접근을 했으면 하는 바램이고요 그렇습니다.  cc  4차산업혁명
804003                                  근데 밤은 벌써 꽃이 필 때부터  cc  4차산업혁명
634923            엄청 논란이 많거든 그러니까 이게 자율주행을 어디까지 허용해야 되는지.  cc  4차산업혁명
623449                           그러니까 -그- 그렇게 된 대로 딱 해서 몇  cc  4차산업혁명
...                                                   ...  ..     ...
704290     유튜버를 막 찾아보고도 -하- 하긴 했는데 너도 그런 저기 뭐야 여러 여러 그러니까  cc   회사/학교
639989  그럼 어제 잠 잠 못 주신 못 주무셨냐 그러면 어~ 조금 그래요 그러고 어떤 힘이 없어.  cc   회사/학교
99971                 해가지구 저는 조금 마음을 조금 평안히 먹으려고 하고 있거든요.  cc   회사/학교
667024                                       를 가지고 저를 이렇게  cc   회사/학교
102876              그래서 가서 물어봤더니 그 여자가 우리 매장 욕을 엄청나게 했더라고  cc   회사/학교

[111675 rows x 3 columns]

In [13]:
df_cc.topic.value_counts()

먹거리           9349
성격            6349
가족            5575
여행지(국내/해외)    5491
건강            5007
연애/결혼         4719
스타일           4544
음악            3932
선물            3926
영화            3821
아르바이트         3686
회사/학교         3649
계절            3643
방송/연예         3164
콤플렉스          3068
날씨            2990
쇼핑            2918
꿈(목표)         2871
다이어트          2763
전자기기          2551
스포츠/레저        2484
취미            2484
게임            2174
자동차/오토바이      2125
반려동물          2105
재테크           2014
드라마           1993
군대            1701
종교            1653
만화            1525
자격증           1358
정치            1089
경제            1042
공연             923
SNS            815
문학             643
4차산업혁명         478
역사             461
좌우명            385
법률             207
Name: topic, dtype: int64

In [59]:
df_cc_가족 = df_cc[df_cc['topic']=='가족']
df_cc_먹거리 = df_cc[df_cc['topic']=='먹거리']
df_cc_회사 = df_cc[df_cc['topic']=='회사/학교']
df_cc_여행지 = df_cc[df_cc['topic']=='여행지(국내/해외)']
df_cc_건강 = df_cc[df_cc['topic']=='건강']
df_cc_취미 = df_cc[df_cc['topic']=='취미']
df_cc_연애 = df_cc[df_cc['topic']=='연애/결혼']
df_cc_역사 = df_cc[df_cc['topic']=='역사']
df_cc_방송 = df_cc[df_cc['topic']=='방송/연예']
df_cc_꿈 = df_cc[df_cc['topic']=='꿈(목표)']

df_cc_아르바이트 = df_cc[df_cc['topic']=='아르바이트']
df_cc_종교 = df_cc[df_cc['topic']=='종교']
df_cc_반려동물 = df_cc[df_cc['topic']=='반려동물']
df_cc_성격 = df_cc[df_cc['topic']=='성격']
df_cc_쇼핑 = df_cc[df_cc['topic']=='쇼핑']
df_cc_영화 = df_cc[df_cc['topic']=='영화']
df_cc_다이어트 = df_cc[df_cc['topic']=='다이어트']
df_cc_게임 = df_cc[df_cc['topic']=='게임']
df_cc_경제 = df_cc[df_cc['topic']=='경제']
df_cc_군대 = df_cc[df_cc['topic']=='군대']

df_cc_계절 = df_cc[df_cc['topic']=='계절']
df_cc_전자기기 = df_cc[df_cc['topic']=='전자기기']
df_cc_스타일 = df_cc[df_cc['topic']=='스타일']
df_cc_재테크 = df_cc[df_cc['topic']=='재테크']
df_cc_스포츠 = df_cc[df_cc['topic']=='스포츠/레저']
df_cc_선물 = df_cc[df_cc['topic']=='선물']
df_cc_자동차 = df_cc[df_cc['topic']=='자동차/오토바이']
df_cc_문학 = df_cc[df_cc['topic']=='문학']
df_cc_sns = df_cc[df_cc['topic']=='sns']
df_cc_드라마 = df_cc[df_cc['topic']=='드라마']

df_cc_정치 = df_cc[df_cc['topic']=='정치']
df_cc_날씨 = df_cc[df_cc['topic']=='날씨']
df_cc_자격증 = df_cc[df_cc['topic']=='자격증']
df_cc_음악 = df_cc[df_cc['topic']=='음악']
df_cc_만화 = df_cc[df_cc['topic']=='만화']
df_cc_콤플렉스 = df_cc[df_cc['topic']=='콤플렉스']
df_cc_공연 = df_cc[df_cc['topic']=='공연']
df_cc_좌우명 = df_cc[df_cc['topic']=='좌우명']
df_cc_4차산업혁명 = df_cc[df_cc['topic']=='4차산업혁명']
df_cc_법률 = df_cc[df_cc['topic']=='법률']

df_cc_법률

                                                     text reg topic
100897  눈을 이렇게 까지딥더니 어~ 아직도 살아있네 그러고 더 찔렀대 그래서 눈을 정말 이...  cc    법률
101731                 그 나이가 들도록 어떻게 살었나 무단 횡단 하다가 죽을 죽으면  cc    법률
103662     그러니까 혼자이다 보니까 부모님들이 다 이것저것 다 원하는 거 다 해 주고 이러면서  cc    법률
103771  물론 나도 인제 지갑을 주웠을 때 갖다 준 적이 있었는데 갖다 주질 않고 사무실로 ...  cc    법률
103867  개인 개인으로 하면 돈이 좀 나올 건데 내가 사업자를 갖고 있으니까 그리로 전화해 보니까  cc    법률
...                                                   ...  ..   ...
946265  뭔가 이 너가 말한 거처럼 아이들을 위한 좀 더 안정성이 있는 그런 전동 킥보드를 ...  cc    법률
946623  그래서 이제 소송 만능주의라는 말이 생겨났는데 이게 소송을 걸면은 그냥 뭐든지 해결...  cc    법률
947386  아~ 가져갔는데 또 가지고 오는 것도 조금 그렇고 한 거야 그래서 아~ 그럼 선생님 그냥  cc    법률
948154   그 뭐를 인제 이렇게 공무원들 갖다 주고 안 될 것도 되게끔 많이 했잖아요 근데 지금은  cc    법률
949271             그 과실을 서로 따지기보다는 그 사고의 원인을 약간 운전자한테 좀 더  cc    법률

[207 rows x 3 columns]

## [ref]
- https://koreadatascientist.tistory.com/15
- https://ponyozzang.tistory.com/609